/*body {
	margin:0;
	font-family: 'Nunito', sans-serif;
}*/
header, 
footer {
	width:100%;
	background:#f5f5f5;

}

section.content {
	padding:20px;
	margin:20px auto;
	max-width: 1040px;
}

input {
	margin:10px 0;
}

.ig-header {
	display:flex;
	align-items: center;
	justify-content: space-between;
	    max-width: 1040px;
    	margin: 0 auto;
}

.ig-head__controls {
	width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ig-btn {
	padding:10px 20px;
	border-radius:3px;
	background:#3897f0;
	text-decoration: none;
	color:#fff;

}

.ig-footer {
	max-width: 1040px;
	margin: 0 auto;

}

.ig-records ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

.ig-records ul li {
	padding:10px;
	background: #f1f1f1;
	border-bottom:1px solid #ccc;
	display:flex;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	margin-bottom:10px;
}

.ig-records ul li form {
	margin-left:auto;
}

.mdl-layout-title img {
	filter: invert(100%);
}

.navbar.center {
	max-width: 1344px;
	margin:0 auto;
}